data/
debugging/
*.out
*.pyc
.venv
*.egg-info
**/__pycache__
**/.ipynb_checkpoints
**/experiment.txt
**/*.pdf
**/*.png
**/*.svg
src/temp.py
src/old_*
scripts/baseline_ids.json
.DS_Store
scripts/test.py
build/
test.py
sandpit.py
images/
demos/
external_rl/storage/*
```
